<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ik.tech.datastructure">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dsa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dsa"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataStructure">
        <activity
            android:name=".GraphActivity"
            android:label="Graph"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TreeActivity"
            android:label="Tree"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LinkedListActivity"
            android:label="LinkedList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QueueActivity"
            android:label="Queue"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StackActivity"
            android:label="Stack"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArrayActivity"
            android:label="Array"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>